@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "variables";
body {
  font: 16px/1.4 "Rubik", sans-serif;
  background-color: #091227;
  color: $primary-color;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
a {
  list-style: none;
  text-decoration: none;
  list-style-type: none;
}
