@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font: 16px/1.4 "Rubik", sans-serif;
  background-color: #091227;
  color: #eaf0ff;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;

  justify-content: center;
}
