.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    gap: 30px;
  }
  &PlaylistPage {
    display: flex;
    gap: 30px;
  }
}
