@import "./styles/variables";
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    gap: $gap-medium;
  }
  &PlaylistPage {
    display: flex;
    gap: $gap-medium;
  }
}
@media (max-width: 768px) {
  .app {
    &Container {
      gap: $gap-small;
    }
  }
}
