@import "../../styles/variables";
.trackContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  &:hover {
    background: rgba(128, 128, 128, 0.2);
  }
}

.track {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  cursor: pointer;

  &Image {
    width: 200px;
  }

  &Name {
    font-size: $font-size-subtitle;
    text-align: center;
  }
  &Band {
    color: $secondary-color;
    font-weight: 200;
  }
  &DownloadLink {
    color: $primary-color;
  }
  &DownloadLink:hover {
    text-decoration: underline;
  }
}
